<key>NSBluetoothAlwaysUsageDescription</key>
<string>We need access to Bluetooth to scan and connect to devices.</string>
<key>NSBluetoothPeripheralUsageDescription</key>
<string>We need access to Bluetooth to scan and connect to devices.</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>We need access to location to scan for Bluetooth devices.</string>